[submodule "external/catch"]
	path = external/catch
	url = git@github.com:philsquared/Catch.git
[submodule "external/easyloggingpp"]
	path = external/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp
